
.msg-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    margin-top: 20vh;
}

.welcome-msg {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: hsl(217, 90%, 22%);
    font-family: 'Vollkorn', serif;
    font-style: italic;
}

.enter-btn {
    color: #fff;
    background-color: olive;
    padding: 7px;
    border-radius: 7px;
    text-decoration: none;
    width: 10%;
    text-align: center;
    font-weight: 600;
}

.enter-btn:hover {
    color: hsl(217, 90%, 22%);
    background-color: #fff;
    text-decoration: none;
}