
.resume ul {
    list-style: none;
}

.intro {
    display: flex;
    margin-bottom: 2em;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.intro h1 {
    flex-basis: auto;
}

#profile_pic {
    border-radius: 50%;
    border: 2px hsl(217, 75%, 22%);
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.skillGroup {
    font-weight: 700;
}

.exampleTitle {
    margin-bottom: 0;
}

.employer {
    margin-bottom: 0;
}

.dates {
    color: darkgrey;
    font-size: .8em;

}

.examplesExp li {
    margin-bottom: .5em;
}

