#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

main {
  margin: 3rem auto;
}


h1{ 
  text-transform:capitalize;
  color: hsl(217, 90%, 22%);
  font-family: 'Vollkorn', serif;
  font-style:italic;
}

h2{
  text-transform: lowercase;
  color: hsl(217, 90%, 22%);
  font-family: 'Vollkorn', serif;
  font-style:italic;
}

h3{
  color: hsl(217, 60%, 45%);
  font-family: 'Vollkorn', serif;
}

h4{
  color: hsl(217, 60%, 45%);
  font-family:'Karla', sans-serif;
}

p{
  font-family:'Karla', sans-serif;
}